Flask
Flask-Session
Flask-CORS
oracledb
SQLAlchemy
redis
pandas
numpy
matplotlib
scikit-learn
deep-translator
openai
dotenv
apscheduler
schedule
langchain
langchain-openai
langdetect
email
werkzeug
smtplib
logging
requests
uuid
json
traceback
